<% if @current_user.id == 1%>
<h1>Checks</h1>

<table>
  <tr>
    <th>User Name</th>
    <th>Amount</th>	
  </tr>
    <% @uorderdata.each do |uorderdata| %>
	   <tr id=<%= uorderdata["uid"] %> class="user_order_tr">
		    <td><%= uorderdata["uname"] %></td>
		    <td><%= uorderdata["amount"] %></td>
	  	</tr>	
	<% end %>
</table>

<% else %>
<h1>You are not Authorized !!</h1>

<% end %>
